---
- project-template:
    name: {{ name }}
    {%- for type in jobs %}
    {{ type }}:
      jobs:
        {%- for job_dict in jobs[type] %}
        {%- for job in job_dict %}
        - {{ job }}:
            branches: {{ job_dict[job]['branch_regex'] }}
            voting: {{ job_dict[job]['voting'] }}
            {%- for key, value in job_dict[job]['job_data'].items() %}
            {{ key }}: {{ value }}
            {%- endfor -%}
        {%- endfor -%}
        {%- endfor -%}
    {%- endfor -%}
