---
- project-template:
    name: {{ name }}
    vars:
      python_use_pyenv: true
    {%- for type in jobs %}
    {{ type }}:
      jobs:
        {%- for job_dict in jobs[type] %}
        {%- for job in job_dict %}
        - {{ job }}:
            branches: {{ job_dict[job]['branch_regex'] }}
            voting: {{ job_dict[job]['voting'] }}
        {%- endfor -%}
        {%- endfor -%}
    {%- endfor -%}
